.team-container {
  text-align: center;
  padding: 100px 0;
  background: #070707;
  overflow: hidden;
}

.team-container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fafafa;
}

.team-container span {
  color:  #6b21a8;
}

.team-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.team-cards {
  display: flex;
  gap: 30px;
  animation: scroll 20s linear infinite;
}

.team-card {
  background: rgb(4, 4, 4);
 
   min-width: 280px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 20px;
  /* min-width: 200px; */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.team-card img {
    /* height: 220px;
  width: 220px; */
  
  border-radius: 100%;
 
  transition: transform 0.3s ease;
    width: 100%;
  height: 280px;
  object-fit: cover;
}

.team-card:hover {
 transform: scale(1.2);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  animation-play-state: paused; /* pause scroll on hover */
}

.team-card:hover img {
  transform: scale(1.05);
}

.card-info h2 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #222;
}

.card-info p {
  color: #777;
  font-size: 1rem;
}

/* Auto-scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
